{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Jadual Waktu Solat</h1>

<div id="map"></div>
<div id="prayer-times">
    <!-- Bootstrap Loader -->
    <div class="loader d-flex justify-content-center align-items-center">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>
</div>

<script>
    const zoneData = {{ zoneMapping|safe }};
    let userlat = '';
    let userlon = '';
    let meccamarker;
    let polyline;

    const mosqueIcon = L.icon({
        iconUrl: '/media/mosque.png',
        iconSize: [32, 32], // Size of the icon
        iconAnchor: [16, 32], // Point of the icon which will correspond to marker's location
        popupAnchor: [0, -32]
    })
    
    // Loader display functions
    function showLoader() {
        document.querySelector('.loader').style.display = 'flex';
    }

    function hideLoader() {
        document.querySelector('.loader').style.display = 'none';
    }

    showLoader();

    // MAP Initialization
    var map = L.map('map').setView([3.1390, 101.6869], 13);

    const osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function getZoneCode(district) {
        for (const [zone, districts] of Object.entries(zoneData)) {
            if (districts.includes(district)) {
                return zone;
            }
        }
        return null; // Return null if the district is not found in any zone
    }

    //Geolocation
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(async function(position) {
            userlat = position.coords.latitude;
            userlon = position.coords.longitude;

            map.setView([userlat, userlon], 13);

            const result = await reverseGeocode(userlat, userlon);

            if (result.error) {
                console.error(result.error);
                return;
            }

            const marker = L.marker([userlat, userlon]).addTo(map);
            const popupContent = `You are here!<br><br>
                                Address: ${result.address}<br><br>
                                District/City: ${result.district}<br>
                                Zone Code: ${result.zoneCode}`;

            marker.bindPopup(popupContent).openPopup();

            if (result.zoneCode) {
                fetchPrayerTimes(result.zoneCode);
                fetchNearestMosque(userlat, userlon);
            }
        }, function(error) {
            console.error("Geolocation error", error);
        });
    } else {
        console.log("Geolocation is not supported by this browser");
    }

    // reverse geocode 
    async function reverseGeocode(lat, lon) {
        const url = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lon}&format=json&addressdetails=1`;
        
        try {
            const response = await fetch(url);
            const data = await response.json();
            
            if (data && data.address) {
                const address = data.address;
                const addressString = [
                    address.road || '',
                    address.suburb || '',
                    address.city || '',
                    address.state || '',
                    address.country || ''
                ].filter(Boolean).join(', ');

                const district = address.district || address.city;
                let zoneCode = getZoneCode(district);

                if (!zoneCode) {
                    zoneCode = 'WLY01';
                }

                return {
                    address: addressString,
                    district: district,
                    zoneCode: zoneCode || 'Zone not found'
                };
            } else {
                return { error: 'Address not found' };
            }
        } catch (error) {
            console.error('Error with reverse geocoding:', error);
            return { error: 'Error retrieving address' };
        }
    }

    // fetch prayer times
    function fetchPrayerTimes(zoneCode) {
        const today = new Date().toISOString().split('T')[0];
        const url = `https://www.e-solat.gov.my/index.php?r=esolatApi/takwimsolat&period=duration&zone=${zoneCode}`;
        const payload = new URLSearchParams({
            datestart: today,
            dateend: today
        });

        fetch(url, {
            method: 'POST',
            body: payload
        })
        .then(response => response.json())
        .then(data => {
            hideLoader();
            if (data && data.prayerTime) {
                displayPrayerTimes(data.prayerTime);
            } else {
                document.getElementById('prayer-times').innerHTML = 'No prayer times found.';
            }
        })
        .catch(error => {
            console.error('Error fetching prayer times:', error);
            document.getElementById('prayer-times').innerHTML = 'Error retrieving prayer times.';
        });
    }

    function displayPrayerTimes(prayerTimes) {
        let html = '<table class="prayer-times-table"><tr><th>Date</th><th>Imsak</th><th>Fajr</th><th>Syuruk</th><th>Dhuhr</th><th>Asr</th><th>Maghrib</th><th>Isha</th></tr>';
        prayerTimes.forEach(time => {
            html += `<tr>
                <td>${time.date}</td>
                <td>${time.imsak}</td>
                <td>${time.fajr}</td>
                <td>${time.syuruk}</td>
                <td>${time.dhuhr}</td>
                <td>${time.asr}</td>
                <td>${time.maghrib}</td>
                <td>${time.isha}</td>
            </tr>`;
        });
        html += '</table>';
        document.getElementById('prayer-times').innerHTML = html;
    }

    // fetch nearest mosque
    function fetchNearestMosque(lat, lon) {
        const url = `https://www.e-solat.gov.my/index.php?r=esolatApi/nearestMosque&lat=${lat}&long=${lon}&dist=5`;

        fetch(url, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            const mosques = data.locationData;
            if (mosques && mosques.length > 0) {
                addMosquesToMap(mosques);
            } else {
                console.log('No mosques found within the specified distance.');
            }
        })
        .catch(error => {
            console.error('Error fetching nearest mosques:', error);
        });
    }

    function addMosquesToMap(mosques) {
        const bounds = [];
        mosques.forEach(mosque => {
            const lat = parseFloat(mosque.latitud);
            const lon = parseFloat(mosque.longitud);

            // wrap element in bootstrap
            const div = document.createElement("div");
            div.className = "card"; // Use Bootstrap card class

            div.innerHTML = `
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">${mosque.nama_masjid}</h5>
                        <p class="card-text">${mosque.sejarah}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">${mosque.alamat}</li>
                    </ul>
                    <div class="card-body">
                        <button id="navigate" class="btn btn-primary btn-sm mt-2">Navigate</button>
                        <button id="waze" class="btn btn-secondary btn-sm mt-2">Waze</button>
                        <button id="googlemaps" class="btn btn-success btn-sm mt-2">Google Maps</button>
                    </div>
                </div>
            `;
            // end wrap element in bootstrap


            // create a new button for navigation
            const button = div.querySelector("#navigate");
            button.onclick = function() {
                const routingControl = L.Routing.control({
                    waypoints: [
                        L.latLng(userlat, userlon),
                        L.latLng(lat, lon)
                    ]
                }).addTo(map);

                // Add a close button to the routing container
                routingControl.on('routeselected', function() {
                    const routingContainer = routingControl._altContainer;

                    if (routingContainer) {
                        // Create the close button
                        const closeButton = document.createElement('button');
                        closeButton.className = 'btn btn-danger btn-sm leaflet-routing-close';
                        closeButton.style.position = 'absolute';
                        closeButton.style.top = '5px';
                        closeButton.style.right = '5px';
                        closeButton.innerHTML = '&times;';

                        // Add click event to remove the routing control
                        closeButton.onclick = function() {
                            routingControl.remove();
                        };

                        // Append the close button to the container
                        routingContainer.appendChild(closeButton);
                    }
                });
            };

            // Waze Button
            const wazeButton = div.querySelector("#waze");
            wazeButton.onclick = function() {
                var wazeUrl = `https://www.waze.com/ul?to=${lat},${lon}&from=${userlat},${userlon}&navigate=yes`;

                window.open(wazeUrl, '_blank');
            };

            // Google Maps Button
            const googleMapButton = div.querySelector("#googlemaps");
            googleMapButton.onclick = function() {
                var googleMapUrl = `https://www.google.com/maps/dir/?api=1&origin=${userlat},${userlon}&destination=${lat},${lon}&travelmode=driving`;

                window.open(googleMapUrl, '_blank');
            };
            

            const marker = L.marker([lat, lon], { icon: mosqueIcon }).addTo(map)
                .bindPopup(div);
            // end create a new button for navigation
            bounds.push([lat, lon]);
        });

        // Add the user's location to the bounds
        bounds.push([userlat, userlon]);

        // Fit the map view to the bounds
        map.fitBounds(bounds);
    }

    // Create a custom Leaflet button with cleanup on removal
    // Function to add markers
    function addMarkers() {
        let coordinatemecca = [21.3891, 39.8579]
        const meccaIcon = L.icon({
            iconUrl: '/media/mecca.png',
            iconSize: [32, 32], // Size of the icon
            iconAnchor: [16, 32], // Point of the icon which will correspond to marker's location
            popupAnchor: [0, -32]
        })
        meccamarker = L.marker(coordinatemecca, { icon: meccaIcon }).addTo(map);
        polyline = L.polyline([coordinatemecca, [userlat, userlon]], {color: 'red'}).addTo(map);
        map.fitBounds([coordinatemecca, [userlat, userlon]]);
    }

    // Function to remove markers
    function removeMarkers() {
        map.removeLayer(meccamarker);
        map.removeLayer(polyline);
        map.fitBounds([[userlat, userlon]]);
    }
    // Toggle function
    let markersVisible = false;
    function toggleMarkers() {
        if (markersVisible) {
            removeMarkers();
        } else {
            addMarkers();
        }
        markersVisible = !markersVisible;
    }
    L.Control.CustomButton = L.Control.extend({
        onAdd: function(map) {
            const btn = L.DomUtil.create('button', 'leaflet-bar leaflet-control leaflet-control-custom');
            btn.innerHTML = 'kiblat';
            btn.style.backgroundColor = 'white';
            btn.style.width = 'auto';
            btn.style.height = '30px';
            btn.style.cursor = 'pointer';

            // Attach the toggle function to the button's click event
            btn.onclick = toggleMarkers;

            this._button = btn; // Store the button for later use
            return btn;
        },
        onRemove: function(map) {
            // Cleanup actions when the control is removed
            if (this._button) {
                this._button.onclick = null; // Remove the click event listener
            }
            removeMarkers(); // Optionally remove markers from the map
        }
    });

    // Add the custom button to the map
    L.control.customButton = function(opts) {
        return new L.Control.CustomButton(opts);
    }

    const customButton = L.control.customButton({ position: 'topright' }).addTo(map);


</script>
{% endblock %}